header {
    z-index: 998;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    height: 10vh;
    width: 100%;
    
    padding: 0.75vw;
    overflow-x: auto;

    justify-content: space-between;

    box-shadow: 0px 10px 50px -30px var(--shadow-color);
    background-color: var(--header-color);
    background-size: 100% 125%;
}

header * {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#left-side {
    display: flex;
    align-items: center;
}

#logo {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;

    font-size: 3rem;
    font-weight: 750;

    margin-left: 5px;
}
#logo:hover {
    color: var(--text-color-2);
}

#right-side {
    display: flex;
    align-items: center;
}

header .icon {
    margin-left: 5px;
    margin-right: 5px;
}
header .icon:hover {
    color: var(--text-color-2);

    cursor: pointer;
}