

<div class="filter" id="price" onclick="toggleFilter(this);">
    <div class="name">
        <p class="text">
            PRICE
        </p>
        <span class="icon arrow-up-icon">
            <svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.061,13.439,14.475,8.854a3.583,3.583,0,0,0-4.95,0L4.939,13.439a1.5,1.5,0,0,0,2.122,2.122l4.586-4.586a.5.5,0,0,1,.707,0l4.585,4.586a1.5,1.5,0,0,0,2.122-2.122Z"/>
            </svg>
        </span>
    </div>
</div>
<div class="options-box" id="price-options-box">
    <p id="price-range">
        0 - 999
    </p>
    <input type="range" min="0" max="100" value="100">
</div>
<div class="filter" id="sort-by" onclick="toggleFilter(this);">
    <div class="name">
        <p class="text">
            SORT BY
        </p>
        <span class="icon arrow-up-icon">
            <svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.061,13.439,14.475,8.854a3.583,3.583,0,0,0-4.95,0L4.939,13.439a1.5,1.5,0,0,0,2.122,2.122l4.586-4.586a.5.5,0,0,1,.707,0l4.585,4.586a1.5,1.5,0,0,0,2.122-2.122Z"/>
            </svg>
        </span>
    </div>
</div>
<div class="options-box" id="sort-by-options-box">
    <input type="radio" id="none" name="sorts" checked>
    <label for="none">None</label><br>

    <input type="radio" id="lowest-first" name="sorts">
    <label for="lowest-first">Price: Low to High</label><br>

    <input type="radio" id="highest-first" name="sorts">
    <label for="highest-first">Price: High to Low</label><br>

    <input type="radio" id="best-selling-first" name="sorts">
    <label for="best-selling-first">Best Selling</label><br>

    <input type="radio" id="newest-first" name="sorts">
    <label for="newest-first">Newest Arrivals</label><br>
</div>
<div class="filter" id="category" onclick="toggleFilter(this);">
    <div class="name">
        <p class="text">
            CATEGORY
        </p>
        <span class="icon arrow-up-icon">
            <svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.061,13.439,14.475,8.854a3.583,3.583,0,0,0-4.95,0L4.939,13.439a1.5,1.5,0,0,0,2.122,2.122l4.586-4.586a.5.5,0,0,1,.707,0l4.585,4.586a1.5,1.5,0,0,0,2.122-2.122Z"/>
            </svg>
        </span>
    </div>
</div>
<div class="options-box" id="category-options-box"></div>
<div class="filter" id="colors" onclick="toggleFilter(this);">
    <div class="name">
        <p class="text">
            COLORS
        </p>
        <span class="icon arrow-up-icon">
            <svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.061,13.439,14.475,8.854a3.583,3.583,0,0,0-4.95,0L4.939,13.439a1.5,1.5,0,0,0,2.122,2.122l4.586-4.586a.5.5,0,0,1,.707,0l4.585,4.586a1.5,1.5,0,0,0,2.122-2.122Z"/>
            </svg>
        </span>
    </div>
</div>
<div class="options-box" id="colors-options-box"></div>