<div id="footer-columns">
    <div id="column-1">
        <p><b>Useful&nbsp;Links</b></p><br>
        <a href="#">Home</a><br><br>
        <a href="#">Contact</a><br><br>
        <a href="#">Search</a><br><br>
    </div>
    
    <div id="column-2">
        <p><b>Store&nbsp;Policies</b></p><br>
        <a href="#">Shipping&nbsp;&&nbsp;Delivery</a><br><br>
        <a href="#">Privacy&nbsp;Policy</a><br><br>
        <a href="#">Terms&nbsp;of&nbsp;Service</a><br><br>
        <a href="#">Exchange&nbsp;&&nbsp;Refund</a><br><br>
        <a href="#">Size&nbsp;Chart</a><br><br>
    </div>
    
    <div id="column-3">
        <p><b>Products</b></p><br>
        <a href="#">Women</a><br><br>
        <a href="#">Men</a><br><br>
        <a href="#">All</a><br><br>
    </div>
    
    <div id="column-4">
        <p><b>Socials</b></p><br>
        <a href="#">Instagram</a><br><br>
        <a href="#">Youtube</a><br><br>
        <a href="#">Twitter</a><br><br>
    </div>
    
    <div id="column-5">
        <p><b>Other</b></p><br>
        <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a><br><br>
    </div>    
</div>

<div id="footer-bottom">
    © 2023- All rights reserved. LOOM
</div>